html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;   
    overflow: hidden;  
    margin: 0px;
    display: flex;
    box-sizing: border-box;
}

.column {
    height: 100%;  /* allows both columns to span the full height of the browser window */
    display: flex;
    flex-direction: column;  /* stacks the left and right headers above the bottom content */
}

#left {
    flex-shrink: 0;  /* makes sure that content is not cut off in a smaller browser window */
}

.top-left {
    flex-shrink: 0;
}

.top-right {
    flex-shrink: 0;
    display: flex;
}

ul {
    display: flex;
    list-style: none;
}

.bottom {
    flex-grow: 1;  /* ensures that the container will take up the full height of the parent container */
    overflow-y: auto;  /* adds scroll to this container */
}

@media (min-width: 640px) {
    table {
    display: inline-table !important;
    }

    thead tr:not(:first-child) {
    display: none;
    }
}

td:not(:last-child) {
    border-bottom: 0;
}

th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}
@media print {
  body * {
    visibility: hidden;
  }
  #sale-report * {
    visibility: visible;
  }
  #sale-report {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media print {
  body * {
    visibility: hidden;
  }
  #best-products-report * {
    visibility: visible;
  }
  #best-products-report {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media print {
  body * {
    visibility: hidden;
  }
  #report-printable * {
    visibility: visible;
  }
  #report-printable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media print {
  body * {
    visibility: hidden;
  }
  #profit-report * {
    visibility: visible;
  }
  #profit-report {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media print {
  body * {
    visibility: hidden;
  }
  #low-stock-report * {
    visibility: visible;
  }
  #low-stock-report {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media print {
  body * {
    visibility: hidden;
  }
  #cash-flow-report * {
    visibility: visible;
  }
  #cash-flow-report {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media (min-width: 640px) {

    .sm\:col-span-3 {
      grid-column: span 3 / span 3;
    }
  
    .sm\:-mx-6 {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }
  
    .sm\:-my-px {
      margin-top: -1px;
      margin-bottom: -1px;
    }
  
    .sm\:ml-10 {
      margin-left: 2.5rem;
    }
  
    .sm\:ml-6 {
      margin-left: 1.5rem;
    }
  
    .sm\:flex {
      display: flex;
    }
  
    .sm\:hidden {
      display: none;
    }
  
    .sm\:max-w-md {
      max-width: 28rem;
    }
  
    .sm\:flex-1 {
      flex: 1 1 0%;
    }
  
    .sm\:items-center {
      align-items: center;
    }
  
    .sm\:justify-start {
      justify-content: flex-start;
    }
  
    .sm\:justify-center {
      justify-content: center;
    }
  
    .sm\:justify-between {
      justify-content: space-between;
    }
  
    .sm\:rounded-lg {
      border-radius: 0.5rem;
    }
  
    .sm\:px-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  
    .sm\:pt-0 {
      padding-top: 0px;
    }
  
    .sm\:text-sm {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    .sm\:-translate-y-8 {
      --tw-translate-y: -2rem/* -32px */;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .sm\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media (min-width: 768px) {
  
    .md\:block {
      display: block;
    }
  
    .md\:flex {
      display: flex;
    }
  
    .md\:hidden {
      display: none;
    }
  
    .md\:min-h-screen {
      min-height: 100vh;
    }
  
    .md\:w-64 {
      width: 16rem;
    }
  
    .md\:w-auto {
      width: auto;
    }
  
    .md\:w-4\/6 {
      width: 66.666667%;
    }
  
    .md\:w-1\/6 {
      width: 16.666667%;
    }
  
    .md\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  
    .md\:flex-row {
      flex-direction: row;
    }
  
    .md\:overflow-y-auto {
      overflow-y: auto;
    }
  
    .md\:pb-0 {
      padding-bottom: 0px;
    }
    .md\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .md\:grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  @media (min-width: 1024px) {
  
    .lg\:flex {
      display: flex;
    }
  
    .lg\:-mx-8 {
      margin-left: -2rem;
      margin-right: -2rem;
    }
  
    .lg\:h-8 {
      height: 2rem;
    }
  
    .lg\:w-4\/6 {
      width: 66.666667%;
    }
  
    .lg\:w-1\/6 {
      width: 16.666667%;
    }
  
    .lg\:hidden {
      display: none;
    }
  
    .lg\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  
    .lg\:grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  
    .lg\:px-8 {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  
    .lg\:text-xl {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
  }

  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }